html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
a {
	color: black;
}
audio {
	margin: 0px;
}
.haus {
	display: grid;
	grid-template-rows: 1fr 1fr 0.5fr;
	grid-template-columns: 0.5fr 1fr 1fr 0.3fr;
	border-bottom: 1px solid lightgray;
}
.haus img {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;

}
.efni {
	margin-right: 1em;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	text-align: center;
}
.efni ul {
	list-style: none;
}
.efni ul li {
	border-bottom: 1px solid lightgray;
}
.efni ul li:hover {
	background-color: #e9e9e9;
	cursor: pointer;
	color: white;
}
.efni ul li a:hover {
	background-color: #e9e9e9;
	color: white;
}
.adal {
	background: linear-gradient(to right, #e9e9e9, white);
	display: grid;
	grid-template-rows: 0.1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid lightgray;
}
.adal iframe {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;

}
.adal .huginn {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	display: grid;
	grid-template-rows: 0.1fr 0.2fr 2fr;
	grid-template-columns: 1fr;
	text-align: center;
}
.adal .huginn .mynd {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}
.adal .huginn h1 {
	text-align: center;
	margin-bottom: 2em;
	text-decoration: underline;
	text-decoration-color: red;
	font-weight: normal;
	font-size: 2em;
}
.adal .ahugamal {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	display: grid;
	grid-template-rows: 0.05fr 0.07fr 0.1fr 0.1fr;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: justify;
	margin-bottom: 5em;
}
.adal .ahugamal audio {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	margin-left: 25%;
}
.adal .ahugamal h3 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	text-align: center;
	margin-top: 10em;
}
.adal .ahugamal h1 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: center;
	margin-bottom: 2em;
	text-decoration: underline;
	text-decoration-color: red;
	font-weight: normal;
	font-size: 2em;
}
.adal .ahugamal p {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.adal .ahugamal iframe {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: 0px;
}
.adal .ahugamal audio {
	margin-top: 1em;
	margin-left: 0px;
}

.toptakki {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 2em;
	text-decoration: none;
	color: black;
	background-color: #e9e9e9;
	border-radius: 0.5em;
	padding: 0.25em;
}
.toptakki:hover {
	background-color: lightgray;
	color: white;
}
